.lost-page {
  height: 100%;
  width: 100%;
  margin-top: 30vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: calc(20px + 0.5vw);
  padding: 0 15vw;
}


.lost-page h2 {
  width: 100%;
}
