.bio-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10vh 55vh 55vh 40vh;
  font-size: calc(8px + 0.5vw);
}

.amore {
color: #858D95;
padding: 10px 0;
font-size: calc(5px + 0.5vw);
text-align: center;
}

.top-left {
  grid-column: 1/2;
  grid-row: 2/3;
  padding-left: 15vw;
  background-color: #F0F1EC;
}

.bio-title {
  color: #262A2E;
  font-size: calc(35px + 0.5vw);
  font-family: 'Roboto Condensed', sans-serif;
  margin: 1.5vw 0;
}

.bio-text1 {
  padding: 1.5vw;
  padding-left: 0;
  padding-bottom: 0;
  line-height: 1.4;
  color: #4B5158;
  font-family: "Open Sans", sans-serif;
}

.bio-text2 {
  padding: 1.5vw;
  padding-right: 0;
  padding-bottom: 0;
  line-height: 1.4;
  color: #4B5158;
  font-family: "Open Sans", sans-serif;
}

.top-right {
  grid-column: 2/3;
  background-color: #F0F1EC;

  grid-row: 2/3;
  padding-right: 15vw;
  padding-left: 1.5vw;
  padding-top: 1.7vw;

}

.top-right div {
  width: 100%;
  display: flex;
  flex-direction: column;
}



.bio-image {
  width: 100%;
  margin-top: calc(35px + 3.7vw);
  padding-right: 0;
  padding-bottom: 0;

}

.bio-image2 {
  width: 100%;
  margin-top: 1.5vw;
  padding-left: 0;
  padding-bottom: 0;
}

.bottom-left {
  background-color: #F0F1EC;

    grid-row: 3/4;
    grid-column: 1/2;

    padding-left: 15vw;

}

.bottom-right {
  background-color: #F0F1EC;

  padding-right: 15vw;
    grid-row: 3/4;
    grid-column: 2/3;

}

.link {
  color: #fc0000;

}
