.bio-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  /*grid-template-rows: 10vh 55vh 55vh 40vh;*/
  grid-template-rows: auto auto auto auto;
  font-size: calc(9.5px + 0.5vw);

  background-color: #f0f1ec;
}

.bio-text1 {
  line-height: 1.4;
  color: #4b5158;
  padding-top: 1vw;
  font-family: "Open Sans";
}

.bio-text1:nth-child(2) {
  padding-top: 0;
}

.amore {
  font-size: calc(5px + 0.5vw);
  padding: 10px 0;
  color: #858d95;
}

.bio-title {
  color: #262a2e;
  font-size: calc(35px + 0.5vw);
  font-family: "Roboto Condensed", sans-serif;
  margin: 1.5vw 0;
}

.bio-text2 {
  padding-top: 1vw;

  line-height: 1.4;
  color: #4b5158;
  font-family: "Open Sans", sans-serif;
}
.ny {
  font-size: calc(5px + 0.5vw);
  padding: 10px 0;
  color: #858d95;
}

.link {
  color: #fc0000;
}

@media screen and (min-width: 1300px) {
  .bio-text1 {
    padding-right: 2vw;
    padding-left: 0;
    padding-bottom: 0;
  }

  .bio-text2 {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 3vw;
  }

  .amore {
    width: 100%;
    text-align: left;
    padding-left: 5%;
  }
  .ny {
    text-align: left;
    width: 100%;
  }

  .bio-image {
    width: 95%;
    padding-right: 0;
    padding-bottom: 0;
    margin-top: 4vw;
  }

  .image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .bio-image2 {
    width: 95%;
    margin-top: 1.8vw;
    padding-left: 0;
    padding-bottom: 0;
  }

  .top-left {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-left: 15vw;
  }

  .top-right {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-right: 15vw;
    padding-left: 1.5vw;
    padding-top: 1.7vw;
  }

  .bottom-left {
    grid-row: 3/4;
    grid-column: 1/2;
    padding-left: 15vw;
    padding-bottom: 2vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bottom-right {
    padding-right: 15vw;
    grid-row: 3/4;
    grid-column: 2/3;
    padding-bottom: 2vw;
  }
}

.top-left,
.top-right,
.bottom-right,
.bottom-left {
  background-color: #f0f1ec;
}

@media screen and (min-width: 1020px) and (max-width: 1300px) {
  .top-left,
  .bottom-left {
    padding-left: 10vw;
  }

  .top-right,
  .bottom-right {
    padding-right: 10vw;
    padding-left: 2vw;
  }

  .bio-grid {
    font-size: calc(10px + 0.3vw);
  }
  .bottom-right {
    padding-top: 1.5vw;
  }

  .image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .bio-image2 {
    width: 100%;
    margin-top: 2vw;
    padding-left: 0;
    padding-bottom: 0;
  }
  .bio-image {
    width: 100%;
    margin-top: calc(40px + 3.7vw);
    padding-right: 0;
    padding-bottom: 0;
  }

  .amore,
  .ny {
    text-align: center;
  }

  .ny {
  }
}

@media screen and (max-width: 1020px) {
  .top-left {
    grid-column: 1/3;
    padding: 0 5vw;
    grid-row: 2/3;
  }

  .bio-title {
    margin: 4vw 0;
    font-size: calc(30px + 0.5vw);
  }
  .bio-image {
    width: 100%;
    height: 100%;
  }
  .bio-image2 {
    width: 100%;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .amore {
    font-size: calc(6px + 2vw);
    padding: 10px 8vw;
    text-align: center;
  }

  .ny {
    font-size: calc(6px + 2vw);
    padding: 10px 8vw;
    text-align: center;
  }
  .bio-text1,
  .bio-text2 {
    padding: 0 0 5vw 0;
  }

  .bio-grid {
    grid-template-rows: auto auto auto auto auto auto;
    font-size: calc(8px + 2vw);
  }

  .top-right {
    grid-column: 1/3;
    padding-right: 0;
    grid-row: 3/4;
    z-index: 1000;
  }

  .bottom-right {
    grid-column: 1/3;
    grid-row: 4/5;
    padding: 0 5vw;
    padding-top: 5vw;
  }
  .bottom-left {
    grid-column: 1/3;
    grid-row: 5/6;
    padding: 5vw 0;
  }

  .bio-grid .footer {
    grid-row: 6/7;
  }
}

@media screen and (min-width: 2300px) {
  .bottom-right {
    padding-top: 50px;
  }
}

@media screen and (min-width: 1023px) {
  .top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
  }

  .bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: calc(19px + 0.5vw);
  }

  .bottom-right {
    margin-bottom: calc(19px + 0.5vw);
  }
}
@media screen and (min-width: 1020px) and (min-height: 1100px) and (max-width: 1400px) {
  .bio-text2,
  .bio-text1 {
    padding-bottom: 2vw;
  }
  .bio-title {
    margin: 2vw 0;
  }

  .bio-image {
    margin-top: 5vw;
    width: 100%;
  }
  .amore,
  .ny {
    font-size: calc(16px + 1vw);

    box-sizing: border-box;
    width: 95%;
    text-align: center;
  }
  .top-left {
    grid-column: 1/3;
    padding: 0 10vw;
    grid-row: 2/3;
  }

  .bio-grid {
    grid-template-rows: auto auto auto auto auto auto;
    font-size: calc(8px + 2vw);
  }

  .top-right {
    grid-column: 1/3;
    padding: 0 10vw;
    grid-row: 3/4;
    z-index: 1000;
  }

  .bottom-right {
    grid-column: 1/3;
    grid-row: 4/5;
    padding: 0 10vw;
    padding-top: 5vw;
  }
  .bottom-left {
    grid-column: 1/3;
    grid-row: 5/6;

    margin-bottom: 0;

    padding-right: 10vw;
    padding-bottom: 5vw;
  }

  .bio-grid .footer {
    grid-row: 6/7;
  }
}
