.Commit {
  border: solid 8px lightblue;
  border-radius: 80;
  margin: 20px;
  padding: 0 15px 10px 10px;
  color: #4b5158;
}

/*D7D456;*/

.grid {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px 90px;
  grid-template-rows: 90px 90px 90px 90px 90px;
  grid-column-gap: 90px;
grid-row-gap: 90px;
background-color: red;
height: 400px;
position: absolute;
top:0px;
}

.item1{

  background-color: black

}.item3{

  grid-area: 1 2 2 3;
  background-color: white;

}
.item4{

  grid-area: 1 1 2 2;
  background-color: white;

}

.item5{

  grid-area: 1 1 2 2;
  background-color: white;

}


.welcome {
  z-index: 2;
  padding: 50px 0 0 90px;
  width: 100%;

}
.work {
  color: #262a2e;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 8px;
  padding-left: 10%;
}
.name {
  color: #000;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 8px;
}

.intro-text {
  font-size: 1.4em;
  color: #000
}

.feature-block {
  width: 100%;
  padding: 30px 10%;
  color: #4b5158;
}

.feature {
  padding-top: 10px;
}

.feature span {
  font-weight: bold;
}
.app-parent {
  z-index: -100;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Commit div {
  margin-top: 10px;
}

.feature-card {
  height: 60vh;
  width: 80%;
  border-radius: 40px;
  box-shadow: 12px 12px 2px 1px #7f878f;
  background-color: #f8f9fa;
  z-index: 5000;
  position: relative;
}
