
.footer {
  grid-row: 4/5;
  grid-column: 1/3;

  display: flex;
  flex-direction: column;
  padding: 0 15vw;
  align-items: center;
  justify-content: center;
}

.footer-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #4B5158;
  font-size: calc(8px + 0.5vw);
  margin: 30px 0;
     box-sizing: border-box;
  width: 48vw;
  font-family: "Open Sans",sans-serif;
  color:
}
.footer-text span {
  font-weight: bold;
  color: #262A2E;

}


.footer-title {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: calc(35px + 0.5vw);
  color: #262A2E;
}

.footer-footer {
color: #4B5158;
font-size: calc(8px + 0.5vw);
  width: 100%;
  margin-top: 28px;
  line-height: 1.8;
  text-align: center;
}

.footer-footer-bye {
  color: #FC0000;
  font-size: calc(6px + 0.5vw);
  padding-top: 1vw;
  font-family: "Roboto Condensed", sans-serif;

}

.back-home {
  color: #858D95;
  font-size: calc(6px + 0.5vw);

  font-family: serif;
}

@media screen and (min-width: 1020px) and (max-width: 1300px) {
  .footer {
    padding: 5vw;

  }

  .footer-text {
    font-size: calc(10px + 0.5vw);
  }
}



@media screen and (max-width: 880px) {

  .footer-text {

    font-size: calc(8px + 2vw);
    margin: 30px 0;
    width: 100vw;
    font-family: "Open Sans",sans-serif;
    padding: 0 6vw;

  }

  .footer {
    padding: 5vw;

  }


  .footer-footer-bye, .back-home {
    font-size: calc(7px + 2vw);

  }


  .footer .copy-btn{width: 25vw;
  padding: 13px;
height: 10px;}

.footer .copy-btn div {
  font-size: calc(7px + 2vw);

}

  .footer-title {
    padding-top: 5vw;
    font-size: calc(27.5px + 0.5vw);
  }
}

@media screen and (min-width: 640px) and (max-width: 880px) {

.footer-title {
  font-size: calc(33px + 0.5vw);
  padding-top: 0.7vw;
}

.footer-text {
  margin: 4vw 0 5vw;
}

.footer .copy-btn {
  padding: 2.5vw 0;
}



}




@media screen and (min-width: 1000px) {
.footer .copy-btn {
    height: auto;
    padding: 0.7vw 0.7vw;
    width: 9vw;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 1rem;

  }
}
